<div class="cont">
  <section class="logo">
    <div>
      <div class="logoCont">
        <img src="../images/src/sk logo.png" alt="sk logo">
        <h1>BARANGAY<br>BAMBANG</h1>
      </div>
    </div>
    <div></div>
  </section>
  <section>
    <h1>Contact Information</h1>
    <div>
      <ul class="contactList">
        <li>
          <img src="../images/svg/phone.svg" alt="phone">
          <div>
            <p>09690687041 (Chairman)</p>
            <p>(02) 813-1243 (Sangguniang Barangay)</p>
          </div>
        </li>
        <li>
          <img src="../images/svg/envelope.svg" alt="email">
          <div>
            <p>skbambangbulakan@gmail.com</p>
          </div>
        </li>
        <li>
          <img src="../images/svg/location-dot.svg" alt="location">
          <div>
            <p>Multi-Purpose Hall, Purok 3, Bambang, Bulakan, Bulacan, 3017</p>
          </div>
        </li>
        <li>
          <img src="/images/svg/facebook.svg" alt="facebook">
          <div>
            <a href="https://www.facebook.com/profile.php?id=61553843106268" target="_blank">Sangguniang Kabataan - Bambang, Bulakan</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h1>Site Links</h1>
    <ul class="siteLinks">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/AboutUs">About</a>
      </li>
      <li>
        <a href="/Announcement">Announcements</a>
      </li>
      <li>
        <a href="/Contact">Contact</a>
      </li>
    </ul>
  </section>
</div>