<!-- <div class="left">
  <div class="logo">
    <h1>AudioX</h1>
  </div>
</div> -->
<ul class="navLinks">
  <li>
    <a href="/">
      <img src="../images/svg/home.svg" alt="homeSVG" title="home">
      <p>Home</p>
    </a>
  </li>
  <li>
    <a href="/AboutUs">
      <img src="../images/svg/news.svg" alt="aboutSVG" title="about">
      <p>About</p>
    </a>
  </li>
  <li>
    <a href="/Announcement">
      <img src="../images/svg/megaphone.svg" alt="anncSVG" title="announcements">
      <p>Announcements</p>
    </a>
  </li>
  <li>
    <a href="/Contact">
      <img src="../images/svg/contact.svg" alt="contactSVG" title="contact">
      <p>Contact</p>
    </a>
  </li>
</ul>